<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href='/auth/facebook'>Facebook login</a></button>
    <button><a href='/auth/google'>Google login</a></button>
    
</body>
</html>
